{% extends 'base.html' %}
{% block right-panel-content %}
<table class="table">
        <thead>
                <tr>
                <th>活动标题</th>
                <th>报名人数</th>
                <th>状态</th>
                <th>查看</th>
                </tr>
        </thead>
        <tbody>
                {% for i in action %}
                <tr>
                        <td>{{ i.title }}</td>
                        <td>{{ i.user.count }}</td>
                        <td>
                            {% if not i.status %}
                                进行中
                                {% else %}
                                已结束
                            {% endif %}
                            </td>
                        <td><a href="{% url 'actionone' i.id %}">查看</a></td>
                </tr>
                {% endfor %}
        </tbody>
</table>
{% endblock %}

