{% extends 'base.html' %}
{% block content %}
<div class="container">

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/125/">        情人</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s1444578.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/129/">        霍乱时期的爱情</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s11284102.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/58/">        水浒传（全二册）</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s1147854.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/94/">        哈利·波特与密室</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s1557672.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/31/">        许三观卖血记</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s1074291.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                                <a href="/book/71/">        一个人的好天气</a>
                                                        </h3>
                                                </div>
                                                <div class="panel-body">

                                                        <img alt="140x140" src="/static/img/book/s2732804.jpg" height=170px width=250px />
                                                </div>
                                        </div>
                                </div>

</div>
{% endblock %}
